<a href="https://colab.research.google.com/github/miz-ab/10xac_week_one_challenge_1/blob/main/notebook/rossmann_store_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings('ignore')

import datetime
import math
import calendar

In [4]:
train = pd.read_csv('drive/MyDrive/rossmann-store-sales/train.csv')
test = pd.read_csv('drive/MyDrive/rossmann-store-sales/test.csv')
store = pd.read_csv('drive/MyDrive/rossmann-store-sales/store.csv')

train.shape, test.shape, store.shape

((1017209, 9), (41088, 8), (1115, 10))

In [5]:
train.Store.nunique() == store.Store.nunique()

True

**Join datasets**

In [6]:
df = train.merge(store, how='left', left_on=train.Store, right_on=store.Store)
df.drop(['key_0', 'Store_y'], axis=1, inplace=True)
df = df.rename(columns={'Store_x':'Store'})
df.shape

(1017209, 18)

In [7]:
df.head()

   Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
0      1          5  ...             NaN              NaN
1      2          5  ...          2010.0  Jan,Apr,Jul,Oct
2      3          5  ...          2011.0  Jan,Apr,Jul,Oct
3      4          5  ...             NaN              NaN
4      5          5  ...             NaN              NaN

[5 rows x 18 columns]